@import 'normalize.css';
@import 'mdb-ui-kit/css/mdb.min.css';
@import 'vars.css';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@400;700;800&family=Tajawal&display=swap');

/******* common *******/

body {
  font-family: 'Raleway';
  font-size: 0.875em;
  line-height: 1.5em;
}

ul, p, h1, h2, figure, img {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  max-width: 50.1rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

/******* @media 1440 *******/

@media (min-width: 1440px) {
  .container-xxl {
    max-width: 85rem;
    padding: 0;
  }
}
