@import 'normalize.css';
@import 'mdb-ui-kit/css/mdb.min.css';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@400;700;800&family=Tajawal&display=swap');

/******* body *******/

body {
  font-family: 'Raleway';
  font-size: 0.875em;
  line-height: 1.5em;
}

ul {
  list-style: none;
}
/******* Header *******/

/******* Navigation *******/

/******* Footer *******/
