/******* hero start *******/

.our-company__hero {
  min-height: 100vh;
  background: linear-gradient(51.52deg, #000000ed -0%, rgba(0, 0, 0, 0.6) 120%), url(/images/our-company-hero.webp) no-repeat center;
  background-size: cover;
}

.our-company__hero-container {
  padding: 10rem 5rem 0;
}

.our-company__hero-heading {
  font-weight: 600;
  font-size: 8rem;
  color: var(--text-white);
  margin-bottom: 2.5rem;
}

.our-company__hero-heading-span {
  white-space: nowrap;
  padding-left: 4.5rem;
}

.our-company__hero-paragraph {
  padding-left: 4.5rem;
  max-width: 33rem;
  line-height: 1.2em;
  color: var(--text-white);
}

/******* hero end *******/

/******* family end *******/

.our-company__family {
  position: relative;
}

.our-company__family-container {
  padding: 7.5rem 0;
  border-left: 1px solid #F4F4F4;
  border-right: 1px solid #F4F4F4;
}

.our-company__family--heading--xl {
  font-size: 3rem;
  line-height: 1.1em;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: var(--eerie-black);
  margin-bottom: 2.5rem;
}

.our-company__family-figures-wrapper {
  padding-bottom: 5rem;
}

.our-company__family--heading--xl .nowrap {
  white-space: nowrap;
}

.our-company__family-paragraph--xl {
  max-width: 36rem;
  color: var(--outer-space)
}

.our-company__figure--left {
  position: relative;
  left: -2.5rem;
}
.our-company__figure--center {
  position: relative;
  left: 5.5rem;
}
.our-company__figure--right {
  position: relative;
  right: -5.5rem;
  top: -20rem;
}

.our-company__family-heading--xxl {
  font-size: 9.375rem;
  font-weight: 800;
  line-height: 1.4em;
  letter-spacing: 0.2em;
  color: var(--text-white);
  -webkit-text-stroke: 1px var(--text-border-color);
  margin-bottom: -1.8rem;
}

.our-company__family-paragraph--lg {
  font-size: .813rem;
  max-width: 40rem;
}

.our-company__family-list {
  max-width: 70rem;
  margin: 0 auto;
  column-gap: 1.875rem;
  row-gap: 5rem;
}

.our-company__family-item {
  max-width: 19.375rem;
  padding-left: 2.5rem;
  position: relative;
}

.our-company__family-item i {
  position: absolute;
  top: -4.375rem;
  left: 0;
  width: 4.875rem;
  height: 9.375rem;
  z-index: -1;
}

.our-company__family-item .icon-1 {
  background: url('../images/svg/1.svg') no-repeat center;
}

.our-company__family-item .icon-2 {
  background: url('../images/svg/2.svg') no-repeat center;
}

.our-company__family-item .icon-3 {
  background: url('../images/svg/3.svg') no-repeat center;
}

.our-company__family-item-heading {
  font-weight: 700;
  font-size: 2.125rem;
  line-height: 1.2em;
  letter-spacing: 0.01em;
  color: var(--eerie-black);
}

.our-company__family-item-paragraph {
  font-size: .813rem;
  color: var(--outer-space);
}

/******* family end *******/

/******* innovation start *******/
  .our-company__innovation-container {
    padding: 7rem 0 3.125rem;
  }

  .our-company__innovation-header {
    position: relative;
    margin-bottom: 14rem;
  }

  .our-company__innovation-heading--xxl {
    max-width: 27rem;
    font-size: 9.375rem;
    font-weight: 800;
    line-height: 1;
    letter-spacing: 0.1em;
    color: var(--text-white);
    -webkit-text-stroke: 1px var(--text-border-color);
    word-wrap: break-word !important;
  }

  .our-company__innovation-figure {
    position: absolute;
    right: -11.5rem;
    bottom: -4rem;
  }

  .our-company__innovation-heading--xl {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.1em;
    letter-spacing: 0.01em;
    color: var(--eerie-black);
    margin-bottom: 2.25rem;
    max-width: 34.145rem;
  }

  .our-company__innovation-paragraph {
    font-size: .813rem;
    color: var(--outer-space);
    max-width: 40rem;
  }

  .our-company__innovation-heading--grey {
    color: var(--approx-grey);
  }

  .our-company__innovation-figure-heading {
    max-width: 18.938rem;
    margin: 0 auto;
    margin-bottom: 6.5rem;
  }

  .our-company__innovation-top-figure-wrapper {
    position: relative;
    column-gap: .875rem;
    margin-bottom: 6.5rem;
  }

  .our-company__innovation-top-figure--left {
    position: relative;
    bottom: -5.5rem;
    left: -2rem;
  }
  .our-company__innovation-top-figure--right {
    position: relative;
    top: -7rem;
    right: -2rem;
  }

  .our-company__innovation-bottom-figure-wrapper {
    position: relative;
    column-gap: .875rem;
  }

  .our-company__innovation-bottom-figure--left {
    position: relative;
    top: -14rem;
    left: -2rem;
  }
  .our-company__innovation-bottom-figure--right {
    position: relative;
    top: -26rem;
    right: -2rem;
  }
/******* innovation end *******/

/******* @media 1439px  start *******/

@media (max-width: 1439px) {
  /******* family start *******/
  .our-company__family-container {
    padding: 7.5rem 1.5rem;
  }
  .our-company__family-figures-wrapper {
    gap: 1rem;
    padding-bottom: 3.125rem;
    justify-content: center;
  }
  .our-company__figure--left,
  .our-company__figure--center,
  .our-company__figure--right {
    position: static;
  }
  .our-company__family-figures-wrapper figure img {
    height: 17.25rem;
    width: 17.25rem;
    object-fit: cover;
  }
  /******* family end *******/

  /******* innovation start *******/

  .our-company__innovation-container {
    padding: 7rem 1.5rem 3.125rem;
  }

  .our-company__innovation-top-figure-wrapper {
    margin-bottom: calc(7vw + .375rem);
  }

  .our-company__innovation-figure-heading {
    margin-bottom: 7vw;
  }

  .our-company__innovation-top-figure-wrapper figure,
  .our-company__innovation-bottom-figure-wrapper figure {
    min-width: 30%;
  }

  .our-company__innovation-top-figure-wrapper figure img,
  .our-company__innovation-bottom-figure-wrapper figure img {
    width: 100%;
    height: auto;
  }

  .our-company__innovation-top-figure--center {
    position: relative;
    top: .375rem;
  }
  .our-company__innovation-top-figure--left,
  .our-company__innovation-top-figure--right {
    left: 0;
    top: 7vw;
  }

  .our-company__innovation-bottom-figure--left,
  .our-company__innovation-bottom-figure--right {
    top: -14vw;
    left: 0;
  }

  /******* innovation end *******/
}

/******* @media 1439px  end *******/


/******* @media 1280px  start *******/

@media (max-width: 1279px) {
  /******* hero start *******/
  .our-company__hero-container {
    padding: 8.25rem 3rem 2rem;
  }

  .our-company__hero-heading {
    font-size: 5.25em;
  }

  .our-company__hero-heading-span {
    padding-left: 2.5rem;
  }

  .our-company__hero-paragraph {
    padding-left: 2.5rem;
    max-width: 33rem;
  }
  /******* hero end *******/

  /******* innovation start *******/

  .our-company__innovation-container {
    padding: 5rem 1.5rem 3.125rem;
  }
  .our-company__innovation-heading--xxl {
    font-size: 12vw;
    max-width: 26vw
  }

  .our-company__innovation-header {
    margin-bottom: 10rem;
  }

  .our-company__innovation-figure {
    width: 55vw;
    left: 24vw;
    top: 8vw;
    bottom: auto;
  }

  .our-company__innovation-figure img{
    width: 100%;
    height: auto;
  }

  .our-company__innovation-figure-heading {
    font-size: 4vw;
    max-width: 30vw;
  }

  /******* innovation end *******/
}

/******* @media 1280px  end *******/

/******* @media 768px  start *******/

@media (max-width: 768px) {
  /******* hero start *******/
  .our-company__hero {
    background: linear-gradient(11.79deg, #000000 0%, rgba(0, 0, 0, 0.4) 80%), url(/images/our-company-hero.webp) no-repeat center;
    background-size: cover;
  }
  .our-company__hero-container {
    padding: 5rem 2rem 7.5rem;
    justify-content: flex-end !important;
  }

  .our-company__hero-heading {
    font-size: 3rem;
    margin-bottom: 1.75rem;
  }

  .our-company__hero-heading-span {
    padding-left: 0;
  }

  .our-company__hero-paragraph {
    padding-left: 0;
    max-width: 100%;
  }
  /******* hero end *******/

  /******* family start *******/

  .our-company__family--heading--xl {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .our-company__family-heading--xxl {
    font-size: 5rem;
    margin-bottom: -1rem;
  }

  .our-company .content-wrapper.mb-10 {
    margin-bottom: 6.25rem !important;
  }

  .our-company__family-list {
    justify-content: center !important;
    row-gap: 5rem;
    padding: 0 .375rem;
    flex-direction: column;
  }

  .our-company__family-item i {
    position: absolute;
    top: -3rem;
    left: 0;
    width: 4.6rem;
    height: 7.5rem;
  }

  .our-company__family-item-heading {
    font-size: 1.5rem;

  }

  .our-company__family-item-heading.mb-4 {
    margin-bottom: 1rem;
  }

  .our-company__family-item-paragraph {
    font-size: .938rem;
  }

  /******* family end *******/

  /******* innovation start *******/

  .our-company__innovation-container {
    padding: 3.125rem 1.5rem 3.125rem;
  }

  .our-company__innovation-heading--xxl {
    font-size: 15vw;
    max-width: 34vw
  }

  .our-company__innovation-header {
    margin-bottom: 10rem;
  }

  .our-company__innovation-figure {
    width: 61vw;
    left: 31vw;
    top: 10vw;
    bottom: auto;
  }

  .our-company__innovation-figure img{
    width: 100%;
    height: auto;
  }

  .our-company__innovation-figure-heading {
    font-size: 4vw;
    max-width: 30vw;
  }
}

/******* @media 768px  end *******/

/******* @media 480px  start *******/

@media (max-width: 480px) {
  /******* hero start *******/
  .our-company__hero-heading {
    font-size: 2.5rem;
    line-height: 1.2em;
  }
  /******* hero end *******/

  /******* family start *******/

  .our-company__family-container {
    padding: 3.125rem 1.5rem;
  }

  .our-company__family-heading--xxl {
    font-size: 3.25rem;
  }

  .our-company__family-figures-wrapper figure img {
    height: 6.875rem;
    width: 6.875rem;
    object-fit: cover;
  }

  /******* family end *******/

  /******* innovation start *******/

  .our-company__innovation-header {
    margin-bottom: 4.56rem;
  }

  .our-company__innovation-heading--xxl {
    font-size: 13.2vw;
    max-width: 30vw;
  }

  .our-company__innovation-figure {
    left: 27vw;
    top: 8vw;
  }

  .our-company__innovation-heading--xl {
    font-size: 2rem;
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .our-company__innovation-paragraph {
    font-size: .938rem;
    margin-bottom: 1.5rem;
  }

  .our-company__innovation-figure-heading {
    font-size: 3.15vw;
    max-width: 24vw;
  }
  /******* innovation end *******/
}

/******* @media 480px  end *******/
